body {
    margin: 20px 40px;
}

/* HEADER */

    /* NAV */

nav {
    display:flex;
    align-items: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

        /* NAV Dropdown and Logo */

#ddAndLogoDiv {
    display:flex;
    align-items: row;
    justify-content: center;
}

#hamburgerMenu{
    cursor: pointer;
}

.hamburgerBar {
    background-color: black;
    height:2px;
    width:30px;
    margin: 6px 0;
}

#hamBar1 {
    margin-top:20px;
}

#logo{
    margin:8px 0 0 35px;
    height:40px;
    cursor: pointer;
}

    /* NAV Searchbar and Submit Button */

#searchBarDiv {
    display:flex;
    align-items: row;
    justify-content: center;
}

#searchIconDiv {
    border: 2px solid #d9d9d9;
    border-radius: 40% 0 0 40%;
    border-right:none;
}

#searchIcon {
    width:40px;
    margin:4px 0 0 4px;

}

#searchBar {
    border: 2px solid #d9d9d9;
    border-left:none;
    border-right:none;
    padding:0 0 0 10px;
    width:322px;
}

#dropdownSearchButtons {
    display: flex;
    justify-content: center;
    border: 2px solid #d9d9d9;
    border-left:none;
    border-radius: 0 5% 5% 0;
}

.dropdownSearchButton {
    border-radius:5%;
    margin:8px 5px 0;
    border:none;
    font-size: 12px;
    height:30px;
    background-color: #d9d9d9;
    cursor: pointer;
}

#brandsDropdownButton {
    margin-right:10px;
}

#searchButton {
    margin-left:10px;
    background-color: #618242;
    color:white;
    font-size:0.9rem;
    font-weight: 800;
    border: none;
    border-radius: 5% 17% 17% 5%;
    width:90px;
    cursor: pointer;
}

    /* NAV User Icon Dropdown */


#userIconDiv {
    margin:10px 0 0 0;
    display:flex;
    align-items: center;
}

.icon {
    width:30px;
    margin-left:20px;
    cursor: pointer;
    position: relative;
}

#userDropdownContent{
    padding:10px;
    display:none;
    background-color: #618242;
    border:1px solid #d9d9d9;
    position: absolute;
    right:0;
    top:80px;
}

.userOption{
    background-color: #618242;
    color:#d9d9d9;
    border:none;
    display: block;
}

.userOption:hover{
    color: white;
}

    /* MODAL */

#modal{
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    z-index: 1;
    display: none;
}

#modalTextbox{
    background-color: white;
    width:20%;
    height:100%;
    padding:38px 0 0 25px;
    position: relative;
    margin-top:-22px;
    box-shadow:0 2px 2px rgba(0, 0, 0, 0.2);
}

#modalCloseButton{
    border:none;
    background-color: white;
    color:#d9d9d9;
    position:absolute;
    top:28px;
    right:5px;
    font-size: 1.2rem;
    /* https://stackoverflow.com/questions/16610871/make-an-object-stick-to-the-top-right-side-of-the-page */
}

#modalCloseButton:hover{
    color:#618242;
}

h3{
    color:#618242;
}

.modalButton{
    border:none;
    display:block;
    background-color:white;
    font-size: 1rem;
    margin:20px 0;
    color:#618242;
}

.modalButton:hover{
    color:#d9d9d9;
}
    
    /* FRONT PAGE MAIN  */

#frontPageMain{
    margin-bottom:400px;
}

#frontPageMainGrid{
    display:grid;
    grid-template-columns: 70% 30%;

}

#frontPageMainGridLeft{
    grid-column:1/2;
}

#mainHeaderTextBox{
    margin-top:85px;
}

#mainHeaderH1{
    font-size:3rem;
    color:#d9d9d9;
}

#frontPageMainGridLeft span {
    color:#618242;
}

#mainHeaderH2{
    font-size:2.8rem;
    color:#d9d9d9;
}

#frontPageMainGridRight{
    grid-column:2/3;
}

/* .circle{
    background-color: #618242;
    height: 500px;
    width: 500px;
    border-radius: 100%;
    filter:blur(100px);
    position:relative;
    top:200px;
    left:250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.innerCircle{
    background-color: #A2B85F;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    filter:blur(100px); 
} */

/* LEAF IMAGE */
#frontPageImage{
    width:550px;
    position: fixed;
    right:0;
    bottom:0;
    z-index:-1;
}

/* BANNER SECTION */

#bannerGrid {
    display:grid;
    grid-template-columns: 50%;
    margin-top:125px;
    height:65vh;
}

#bannerGridLeft {
    grid-column-start: 1;
    grid-column-end:2;
}

#bannerLeft{
    background-color: #618242;
    height:100%;
    width:100%;
    border-radius: 5%;
}

#bannerGridRight {
    grid-column-start: 2;
    grid-column-end:3;
    margin:0 0 0 20px;
}

.bannerRight{
    background-color: #d9d9d9;
    border-radius: 5%;
    width:100%;
}

#bannerRightTop{
    height:45%;
    margin:0 0 22px 0;
}

#bannerRightBottom{
    height:50%;
    margin:0;
}


/* PRODUCTS LIST */

#products {
    display: none;
}

#productGrid{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

/* .p1{
    grid-column:1/2;
}
.p2{
    grid-column:2/3;
}
.p3{
    grid-column:3/4;
} */

.productStyle{
    margin:40px 40px;
    padding-bottom:70px;
    border:2px solid #d9d9d9;
    background-color:white;
    border-radius: 5%;
    height:400px;
    cursor:pointer;
    position: relative;
}

.productImage{
    width:100%;
    height: 85%;
    border-radius:5%;
    margin:0;
}

.productInfo{
    text-align: right;
    margin-right:20px;
    color:#d9d9d9;
}

.productName{
    font-size: 1.2rem;
    font-weight: 800;
    color:#618242;
    margin-top:15px;
}

.productPrice{
    position:absolute;
    left:10px;
    top:276px;
    text-align:center;
    background-color:#618242;
    width:12%;
    border-radius: 30%;
    font-size: 1.3rem;
    font-weight: 800;
    margin:0;
    padding:15px;
}

/* PRODUCT PAGE */

#productPage{
    display: none;
}

#productPageFlexbox{
    display: flex;
    margin: 0 0 100px 0;

}

#imageContainerLeft{
    width:45%;
}

#productPageImage{
    width:100%;
    border-radius: 5%;
}

#detailsContainerRight{
    margin: 0 0 0 50px;
    width: 50%;
}
#productPageInfo{
    background-color: #618242;
    height:80%;
    margin:0 0 0 50px;
    padding:40px;
    border-radius: 5%;
}

#productPageBuyButton{
    background-color: #618242;
    color:white;
}

#productPageBuyButton:hover{
    background-color: #d9d9d9;
    color:#618242;
}

#purchaseDescriptions{
    display:flex;
    justify-content: center;
}

#purchaseHeader{
    color:white;
}

.purchaseDescription{
    height:100px;
    width:100px;
    border-radius: 100%;
    background-color: white;
    margin: 0 40px;
    position: relative;
    bottom:150px;
    left:25px;
    text-align: center;
}

.brandInfoChart{
    margin-top:100px;
}

/* CRUD */

.userDiv{
    margin:0 300px;
    padding:40px 80px 80px;
}

.userHeader{
    color:#d9d9d9;
    font-size:2rem;
}

.inputLabel{
    color:#d9d9d9;
}

.input{
    margin-top:10px;
    padding:10px 10px;
    border-radius: 10%;
    border: none;
}

.passwordInput{
    margin-bottom:20px;
}

.userSubmitButton{
    background-color: #d9d9d9;
    color:#618242;
    padding:15px 40px;
    border-radius: 5%;
    border:1px solid white;
    cursor:pointer;
    width:40%;
}

.userSubmitButton:hover{
    background-color: white;
}

/* Create Account */

#createAccountPage{
    display: none;
}

#createAccountDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #618242;
    border-radius: 1%;
}

#createAccountInputs{
    padding-top:50px;
    width:65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Login Account */

#loginPage{
    display: none;
}

#loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #618242;
    border-radius: 1%;
}

#loginInputs{
    padding-top:50px;
    width:65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loggedIn {
    background-color: #d9d9d9;
    color: white;
    height:20px;
    width:20px;
    border-radius: 100%;
}

/* Update User Info*/

#userInfoPage{
    display: none;
}

#userInfoDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #618242;
    border-radius: 1%;
}

#userInfoInputs{
    padding-top:50px;
    width:65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Logout Account */

#logoutPage{
    display: none;
}

#logoutDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #618242;
    border-radius: 1%;
}

#logoutInputs{
    padding-top:50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submitLogoutButton{
    width:100%;
}

/* Delete Account */

#deleteAccountPage{
    display: none;
}

#deleteAccountDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #618242;
    border-radius: 1%;
}

#deleteAccountHeader{
    font-size: 1.5rem;
}

#deleteAccountInputs{
    padding-top:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submitDeleteAccountButton{
    width:100%;
}