body {
    margin: 20px 40px;
}

/* HEADER */

    /* NAV */

nav {
    display:flex;
    align-items: row;
    justify-content: space-between;
    margin-bottom: 150px;
}

        /* NAV Dropdown and Logo */

#ddAndLogoDiv {
    display:flex;
    align-items: row;
    justify-content: center;
}

.hamburgerBar {
    background-color: black;
    height:2px;
    width:30px;
    margin: 6px 0;
}

#hamBar1 {
    margin-top:20px;
}

#logo{
    margin:8px 0 0 35px;
    height:40px;
}

    /* NAV Searchbar and Submit Button */

#searchBarDiv {
    display:flex;
    align-items: row;
    justify-content: center;
}

#searchIconDiv {
    border: 2px solid #d9d9d9;
    border-radius: 40% 0 0 40%;
    border-right:none;
}

#searchIcon {
    width:40px;
    margin:4px 0 0 4px;

}

#searchBar {
    border: 2px solid #d9d9d9;
    border-left:none;
    border-right:none;
    padding:0 0 0 10px;
    width:300px;
}

#dropdownSearchButtons {
    display: flex;
    justify-content: center;
    border: 2px solid #d9d9d9;
    border-left:none;
    border-radius: 0 5% 5% 0;
}

.dropdownSearchButton {
    border-radius:5%;
    margin:8px 5px 0;
    border:none;
    font-size: 12px;
    height:30px;
    background-color: #d9d9d9;
}

#brandsDropdownButton {
    margin-right:10px;
}

#searchButton {
    margin-left:10px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 5% 17% 17% 5%;
    width:90px;
}

    /* NAV User Icon Dropdown */

#userIconDiv {
    margin:10px 0 0 0
}

.icon {
    width:30px;
    margin-left:20px;
}

    /* MODAL */

#modal{
    background-color: rgba(0,0,0,0.4);
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width: 100%;
    z-index: 1;
    display: none;
}

#modalTextbox{
    background-color: white;
    width:20%;
    height:100%;
    padding:38px 0 0 25px;
    position: relative;
    margin-top:-22px;
}

#modalCloseButton{
    border:none;
    background-color: white;
    position:absolute;
    top:25px;
    right:0;
    font-size: 1.2rem;
    /* https://stackoverflow.com/questions/16610871/make-an-object-stick-to-the-top-right-side-of-the-page */
}

#modalCloseButton:hover{
    color:#618242;
}

.modalButton{
    border:none;
    display:block;
    background-color:white;
    font-size: 1rem;
    margin:20px 0;
    color:#618242;
}

.modalButton:hover{
    color:#d9d9d9;
}
    
    /* FRONT PAGE MAIN  */

#frontPageMainGrid{
    display:grid;
    grid-template-columns: 50%;

}

#frontPageMainGridLeft{
    grid-column:1/2;
}

#mainHeaderTextBox{
    margin-top:85px;
}

#mainHeaderH1{
    font-size:3rem;
    color:#d9d9d9;
}

span {
    color:#618242;
}

#mainHeaderH2{
    font-size:2.8rem;
    color:#d9d9d9;
}

#frontPageMainGridRight{
    grid-column:2/3;
}

#frontPageImage{
    width:550px;
    margin-right:-100px;
    position: relative;
    left:200px;
}

/* BANNER SECTION */

#bannerGrid {
    display:grid;
    grid-template-columns: 50%;
    margin-top:125px;
    height:65vh;
}

#bannerGridLeft {
    grid-column-start: 1;
    grid-column-end:2;
}

#bannerLeft{
    background-color: #25995c;
    height:100%;
    width:100%;
    border-radius: 5%;
}

#bannerGridRight {
    grid-column-start: 2;
    grid-column-end:3;
    margin:0 0 0 20px;
}

.bannerRight{
    background-color: #d9d9d9;
    border-radius: 5%;
    width:100%;
}

#bannerRightTop{
    height:45%;
    margin:0 0 22px 0;
}

#bannerRightBottom{
    height:50%;
    margin:0;
}